@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
h1 {
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: #fff;
  margin: 0;
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
  margin: 0;
}
@media screen and (max-width: 800px) {
  h2 {
    font-size: 1.8rem;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000;
  font-family: "Jost", sans-serif;
}

body [data-hidden=true] {
  display: none !important;
}

.hidden {
  display: none;
}

.header {
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}
.header_content-container {
  height: calc(100svh - 8rem);
  width: 100%;
  position: relative;
}
@media screen and (max-width: 800px) {
  .header_content-container {
    height: calc(100svh - 7rem);
  }
}
.header_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header_main-headline {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 3;
}
.header_video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(0deg, #000 1.96%, rgba(248, 42, 208, 0.3) 100%);
}

section[data-hidden] {
  background: radial-gradient(200% 150% at -19.03% 9.82%, rgba(248, 42, 208, 0.3) 0%, rgba(0, 0, 0, 0.2) 56.1%, rgba(80, 120, 118, 0.5) 100%);
  width: 100%;
  min-height: 100svh;
  border: 1px solid transparent;
  padding: 2rem 1rem;
  color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
section[data-hidden] header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
}

.set-countdown_current-date-display {
  font-size: 2.5rem;
  font-weight: bold;
}
.set-countdown_current-time-display {
  font-size: 3rem;
  font-weight: bold;
}
.set-countdown_form {
  width: 30rem;
}
.set-countdown_form_element-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.set-countdown_form_label, .set-countdown_form_input, .set-countdown_form_button {
  width: 100%;
}
.set-countdown_form_label {
  font-size: 1.6rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  padding: 0.2rem;
}
.set-countdown_form_input {
  font-size: 1.2rem;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.02);
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  font-family: inherit;
}
.set-countdown_form_input:focus, .set-countdown_form_input:active {
  color: rgba(255, 255, 255, 0.6);
}
.set-countdown_form_input::placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.set-countdown_form_input[type=text]::-webkit-calendar-picker-indicator {
  opacity: 0.8;
}
.set-countdown_form_input[type=datetime-local]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.2;
}
.set-countdown_form_input[type=datetime-local]:focus::-webkit-calendar-picker-indicator, .set-countdown_form_input[type=datetime-local]:active::-webkit-calendar-picker-indicator {
  opacity: 0.6;
}
.set-countdown_form_input.valid {
  color: white;
}
.set-countdown_form_button {
  display: block;
  width: auto;
  margin: auto;
  padding: 0.2rem 1.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #F7D32A;
  border-radius: 0.6rem;
  border: none;
  font-family: inherit;
}
.set-countdown datalist {
  background-color: tomato !important;
}
.set-countdown option {
  background-color: tomato !important;
}

.fabs {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 1.5rem;
}
.fabs_button {
  all: initial;
  box-sizing: border-box;
  padding: 0.5rem;
  width: 4.3rem;
  height: 4.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: #F5F5F5;
  cursor: pointer;
  border: 1px solid transparent;
}
@media screen and (max-width: 800px) {
  .fabs_button {
    width: 3rem;
    height: 3rem;
  }
}
.fabs_button[data-active=false] {
  background-color: transparent;
  color: #F5F5F5;
  border: 1px solid white;
  transform: perspective(500px) rotateY(45deg);
  transition: all 0.3s ease-in-out;
}
.fabs_button[data-active=false]:hover {
  transform: none;
}
.fabs_button[data-active=false] img {
  filter: invert(1);
}
.fabs_img {
  height: 2.4rem;
}
@media screen and (max-width: 800px) {
  .fabs_img {
    height: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
