// *******************
// FONTS
// *******************

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

h1{
    font-family: "Jost", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #fff;
    margin: 0;

    @media screen and (max-width: 800px) {
        font-size: 2.5rem;
    }
}



// *******************
// COMMON
// *******************

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body [data-hidden="true"]{
    display: none;
}


// *******************
// HEADER / VIDEO
// *******************

.header{
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    background-color: #000;

    &_content-container{
        height: calc(100svh - 8rem);
        width: 100%;
        position: relative;

        @media screen and (max-width: 800px) {
            height: calc(100svh - 7rem);
        }
    }

    &_video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &_main-headline{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        z-index: 3;
    }

    &_video-overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: linear-gradient(0deg, #000 1.96%, rgba(248, 42, 208, 30%) 100%);
    }
}


// *******************
// FABS
// *******************

.fabs{
    // border: 3px solid blue;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 1.5rem;

    &_button{
        all: initial;
        box-sizing: border-box;
        padding: .5rem;
        width: 4.3rem;
        height: 4.3rem;
        // margin-right: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
        background-color: #F5F5F5;
        cursor: pointer;

        // &:last-child{
        //     margin-right: 0;
        // }

        @media screen and (max-width: 800px) {
            width: 3rem;
            height: 3rem;
        }

        &[data-active="false"]{
            background-color: transparent;
            color: #F5F5F5;
            border: 1px solid rgba($color: #fff, $alpha: 1);
            transform: perspective(500px) rotateY(45deg);
            transition: all .3s;

            &:hover{
               transform: none;
            }

            img{
               filter: invert(1);
            }
        }
    }

    &_img{
        height: 2.4rem;

        @media screen and (max-width: 800px) {
            height: 2rem;
        }
    }
}