// *******************
// FONTS
// *******************

@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

h1{
    font-family: "Jost", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #fff;
    margin: 0;

    @media screen and (max-width: 800px) {
        font-size: 2.5rem;
    }
}

h2{
    font-family: "Jost", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
    margin: 0;

    @media screen and (max-width: 800px) {
        font-size: 1.8rem;
    }
}



// *******************
// COMMON
// *******************

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    background-color: #000;
    font-family: "Jost", sans-serif;
}

body [data-hidden="true"]{
    display: none !important;
}

.hidden{
    display: none;
}


// *******************
// HEADER / VIDEO
// *******************

.header{
    width: 100vw;
    height: 100svh;
    overflow: hidden;

    &_content-container{
        height: calc(100svh - 8rem);
        width: 100%;
        position: relative;

        @media screen and (max-width: 800px) {
            height: calc(100svh - 7rem);
        }
    }

    &_video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &_main-headline{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        z-index: 3;
    }

    &_video-overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: linear-gradient(0deg, #000 1.96%, rgba(248, 42, 208, 30%) 100%);
    }
}



// *******************
// SECTIONS
// *******************

// SECTION COMMON
section[data-hidden]{
    background: radial-gradient(200% 150% at -19.03% 9.82%, rgba(248, 42, 208, 0.30) 0%, rgba(0, 0, 0, 0.20) 56.1%, rgba(80, 120, 118, 0.50) 100%);
    width: 100%;
    min-height: 100svh;
    border: 1px solid transparent;
    padding: 2rem 1rem;
    color: white;
    position: relative;
    @include flex();

    header{
        @include flex($direction: column);
        position: absolute;
        top: 2rem;
        left: 0;
        width: 100%;
    }
}

// SET COUNTDOWN
.set-countdown{
    &_current-date-display{
        font-size: 2.5rem;
        font-weight: bold;
    }

    &_current-time-display{
        font-size: 3rem;
        font-weight: bold;
    }

    &_form{
        // border: 2px solid red;
        width: 30rem;

        &_element-container{
            // border: 2px solid blue;
            @include flex($direction: column);
            margin-bottom: 2rem;
        }

        &_label,
        &_input,
        &_button{
            width: 100%;
        }

        &_label{
            font-size: 1.6rem;
            text-align: center;
            color: rgba($color: #fff, $alpha: 0.6);
            padding: .2rem;

            &.valid{
                color: rgba($color: #fff, $alpha: 1);
            }
        }

        &_input{
            font-size: 1.2rem;
            padding: .8rem;
            background-color: rgba($color: #fff, $alpha: 0.1);
            border: 1px solid rgba($color: #fff, $alpha: 0.02);
            text-align: center;
            color: rgba($color: #fff, $alpha: 0.2);
            font-family: inherit;

            &:focus, 
            &:active{
                color: rgba($color: #fff, $alpha: 0.6);
                border: 1px solid rgba($color: #fff, $alpha: 0.6);
                
            }

            &:focus-visible{
                outline: none;
            }

            &::placeholder{
                color: rgba($color: #fff, $alpha: 0.2);
            }

            &[type="text"]{
                &::-webkit-calendar-picker-indicator{
                    opacity: 0.8;
                }
            }

            &[type="datetime-local"]{
                &::-webkit-calendar-picker-indicator{
                    filter: invert(1);
                    opacity: 0.2;
                }

                &:focus, 
                &:active{
                    &::-webkit-calendar-picker-indicator{
                        opacity: 0.6;
                    }
                }
            }

            &.valid{
                color: rgba($color: #fff, $alpha: 1.0);
            }
        }

        &_button{
            display: block;
            width: auto;
            margin: auto;
            padding: .2rem 1.5rem;
            font-size: 1.4rem;
            font-weight: bold;
            background-color: #F7D32A;
            border-radius: .6rem;
            border: none;
            font-family: inherit;
            margin-top: 3rem;
            // border: 1px solid transparent;
            cursor: pointer;
            position: relative;
            opacity: .1;
            transition: padding .3s, opacity .5s;
            pointer-events: none;

            &.enabled{
                pointer-events: auto;
                opacity: 1;

                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    width: 0%;
                    height: 100%;
                    z-index: 1;
                    border-radius: inherit;
                    border-radius: .6rem 0 0 .6rem;
                    background-color: rgba(255, 255, 255, .3);
                    transition: width .3s;
                }
    
                &::after{
                    content: "\2B95";
                    display: inline-block;
                    width: 0rem;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    z-index: 2;
                    transform: translateY(-50%);
                    font-size: 2rem;
                    font-weight: bold;
                    transition: width .3s;
                }
    
                &:hover,
                &:focus,
                &:focus-visible{
                    padding-right: 3.5rem;
    
                    &::after{
                        width: 3.5rem;
                    }
    
                    &::before{
                        width: calc(100% - 3rem);
                    }
                }

            }

            span{
                position: relative;
                z-index: 2;
            }
        }
    }

    .custom-datalist{
        list-style: none;
        width: 100%;
        margin: 0;
        padding-left: 0;

        &.off{
            display: none;
        }

        li{
            @include flex();
            color: rgba($color: #fff, $alpha: 0.8);
            background-color: rgba($color: #fff, $alpha: 0.02);
            opacity: 0.2;
            transition: all .3s;
            overflow: hidden;
            height: 0;

            &.match{
                height: 2rem;
            }

            &:hover,
            &:focus{
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}


// *******************
// FABS
// *******************

.fabs{
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 1.5rem;

    &_button{
        all: initial;
        box-sizing: border-box;
        padding: .5rem;
        width: 4.3rem;
        height: 4.3rem;
        // margin-right: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
        background-color: #F5F5F5;
        cursor: pointer;
        border: 1px solid transparent;

        // &:last-child{
        //     margin-right: 0;
        // }

        @media screen and (max-width: 800px) {
            width: 3rem;
            height: 3rem;
        }

        &[data-active="false"]{
            background-color: transparent;
            color: #F5F5F5;
            border: 1px solid rgba($color: #fff, $alpha: 1);
            transform: perspective(500px) rotateY(45deg);
            transition: all .3s ease-in-out;

            &:hover{
               transform: none;
            }

            img{
               filter: invert(1);
            }
        }
    }

    &_img{
        height: 2.4rem;

        @media screen and (max-width: 800px) {
            height: 2rem;
        }
    }
}